@model ViewModel.Project.VMRole

@{ ViewBag.Title = "Delete"; }

<form style="color:#343a40">
    <div class="modal-body">
        <div class="row" style="padding-top:5px">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.code)
                <button type="button" class="btn btn-block bg-gradient-warning" style="width:80px; float:right" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-block btn-primary" id="delete_product_save" style="width:80px; float:left; margin-top:0%">Delete</button>
            </div>
        </div>
    </div>
</form>
